JhilmerÑucraVicenteScanner.hs
Jose_Enrique_Camacho_Silvestre_Scanner1.hs
Jose_Enrique_Camacho_Silvestre_Scanner2.hs
my_Scanner.hs
New_Scanner.hs
Scanner - copia.hs
Drop_Scanner.hs
Prueba.java
Prueba2.java
Scanner.hs
Ejemplo1.java
Ejemplo2.java
.gitignore
